.card {
  padding-bottom: 25px;
  width: 18rem;
  margin: 30px;
  display: inline-block;
  align-items: center;
  justify-content: center;
  background: linear-gradient(200deg, #afded461 10%, #e5ecf0d9 80%);
  border-radius: 20px;
  border: 3px dashed rgba(254, 254, 254, 0.9);
  transition: all 0.2s;
  box-shadow: 12px 12px 2px 1px rgba(103, 185, 194, 0.477);
}

.card:hover {
  box-shadow: -12px 12px 2px -1px rgba(103, 185, 194, 0.477);
}

.cardTitle {
  padding: 1.5px;
  margin: 20px 30px 25px;
  border: 1.8px dashed rgba(81, 80, 77, 0.8);
  border-radius: 40px;
  color: rgba(42, 40, 40, 0.9);
  font-size: 35px;
  font-family: "Patrick Hand", cursive;
  font-weight: bold;
  background-color: rgba(241, 190, 59, 0.633);
}

#closeIcon {
  display: flex;
  justify-content: flex-end;
  margin-right: 8px;
  margin-top: 8px;
}

.btn {
  background-color: rgba(220, 53, 69, 0.85);
  border: 2px solid rgb(175, 25, 38);
  border-radius: 15px;
  color: white;
  padding: 3px 10px;
}

.btn:hover {
  color: rgba(0, 0, 0, 0.663);
}

.image {
  background: none;
}

.card p {
  color: rgba(32, 31, 31, 0.76);
}

.description {
  padding: 5px;
  font-size: 1.2em;
  font-weight: 500;
}

.no {
  display: inline-flex;
  margin: 2em;
  padding: 0em 2em 0em;
  justify-items: center;
  align-items: center;
  border: 2px dashed rgba(81, 80, 77, 0.8);
  border-radius: 40px;
  color: rgba(42, 40, 40, 0.9);
  font-size: 38px;
  font-family: "Patrick Hand", cursive;
  background-color: rgba(241, 190, 59, 0.633);
}

@media all and (max-width: 430px) {
  .no {
    font-size: 30px;
  }
}

@media all and (max-width: 350px) {
  .no {
    font-size: 25px;
  }
  
  .card {
    width: 16rem;
  }
}

@media all and (max-width: 310px) {
 .card {
    width: 14rem;
  }
}




