.card {
  padding-bottom: 25px;
  width: 18rem;
  margin: 30px;
  display: inline-block;
  align-items: center;
  justify-content: center;
  background: linear-gradient(900deg, #afded461 10%, #e5ecf0d9 80%);
  border-radius: 20px;
  border: 3.5px dashed rgba(254, 254, 254, 0.9);
  transition: all 0.2s;
  color: rgba(32, 31, 31, 0.76);
  box-shadow: 12px 12px 2px 1px rgba(103, 185, 194, 0.477);
}

.card:hover {
  box-shadow: -12px 12px 2px -1px rgba(103, 185, 194, 0.477);
}

.cardTitle {
  margin: 20px 30px 0px;
  border: 1.8px dashed rgba(81, 80, 77, 0.8);
  border-radius: 40px;
  color: rgba(42, 40, 40, 0.9);
  font-size: 35px;
  font-family: "Patrick Hand", cursive;
  font-weight: bold;
  background-color: rgba(241, 190, 59, 0.633);
}

.info {
  display: flex;
  flex-direction: column;
  padding: 0px 20px;
}

.line {
  display: flex;
  justify-content: space-between;
}

.img {
  width: 120px;
  -webkit-filter: drop-shadow(2px 5px 5px rgb(255, 255, 255));
  filter: drop-shadow(3px 2px 1px rgba(0, 0, 0, 0.54));
}
