body {
  background-repeat: no-repeat;
  background: url(./img/bg-wa.jpg);
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
  /* min-height: 100vh; */
  /* background-size: cover;
  height: 80%;
  width: 100%;
  margin: 0; */
}
